body {
    background-image: url(../../Images/fond.JPG);
}

.contenedor{
   background-image: url(../../Images/contenedor2.fw.png);
    width:500px;
    height:300px;
    position:relative;
    margin:15% auto auto auto;

-moz-border-radius-topleft:0px;
-moz-border-radius-topright:15px;
-moz-border-radius-bottomleft:15px;
-moz-border-radius-bottomright:0px;

-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:15px;
-webkit-border-bottom-left-radius:15px;
-webkit-border-bottom-right-radius:0px;

border: solid 2px #999999;
border-radius: 15px 0px 15px 0px;
box-shadow: 2px 2px 5px #999999;

/* Otros estilos */ 
/*border:1px solid #333;*/
}
